<%= form_for(@payment, url: form_path, method: :post, role: "form") do |f| %>
  <%= f.hidden_field :payment_method %>

  <div class="form-group <%= "has-error" if @payment.errors[:amount].present? %>">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: "form-control" %>
    <% if @payment.errors[:amount].present? %>
      <p class="help-block"><%= @payment.errors[:amount].first %></p>
    <% end %>
  </div>

  <div class="form-group <%= "has-error" if @payment.errors[:description].present? %>">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <% if @payment.errors[:description].present? %>
      <p class="help-block"><%= @payment.errors[:description].first %></p>
    <% end %>
  </div>

  <% unless @payment.recurrent? %>
    <% if @payment.payment_method == Buckaruby::PaymentMethod::IDEAL || @payment.payment_method == Buckaruby::PaymentMethod::IDEAL_PROCESSING %>
      <div class="form-group <%= "has-error" if @payment.errors[:payment_issuer].present? %>">
        <%= f.label :payment_issuer %>
        <%= f.select :payment_issuer, payment_issuers_as_options, { prompt: "Select a payment issuer" }, { class: "form-control" } %>
        <% if @payment.errors[:payment_issuer].present? %>
          <p class="help-block"><%= @payment.errors[:payment_issuer].first %></p>
        <% end %>
      </div>
    <% end %>

    <% if @payment.payment_method == Buckaruby::PaymentMethod::SEPA_DIRECT_DEBIT %>
      <div class="form-group <%= "has-error" if @payment.errors[:payment_account_name].present? %>">
        <%= f.label :payment_account_name %>
        <%= f.text_field :payment_account_name, class: "form-control" %>
        <% if @payment.errors[:payment_account_name].present? %>
          <p class="help-block"><%= @payment.errors[:payment_account_name].first %></p>
        <% end %>
      </div>

      <div class="form-group <%= "has-error" if @payment.errors[:payment_account_iban].present? %>">
        <%= f.label :payment_account_iban %>
        <%= f.text_field :payment_account_iban, class: "form-control" %>
        <% if @payment.errors[:payment_account_iban].present? %>
          <p class="help-block"><%= @payment.errors[:payment_account_iban].first %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @payment.recurring_supported? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :recurring %> Start recurring payment
      </label>
    </div>
  <% end %>

  <div class="form-group">
    <% if Buckaruby::Gateway.mode == :test %>
      <%= f.submit "Pay now", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Pay now", class: "btn btn-primary", data: { confirm: "You are going to start a REAL payment. Are you sure you want to proceed?" } %>
    <% end %>
    <%= link_to "Back", payments_path, class: "btn btn-default" %>
  </div>
<% end %>
